.utk-research-tools {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: $type-4;
    font-weight: 400;
    margin-bottom: $type-3;
    transition: $transition-all;
    text-shadow: $box-shadow;
    margin-top: 0;
    color: $white !important;
  }

  .utk-collapse-research-tools {
    opacity: 0;
    display: inline-flex;
    align-self: flex-start;
    width: auto;
    font-size: $type-1;
    font-weight: 700;
    color: $white;
    margin-top: $golden-ratio-3;
    align-items: center;
    transition: background-color 110ms ease-in-out;
    border: 2px solid rgba($white, 0.11);
    border-radius: $golden-ratio-0;
    padding: 0 $golden-ratio-1;
    height: $golden-ratio-3;

    &:hover,
    &:focus {
      border: none;
      padding: 2px calc(#{$golden-ratio-1} + 2px);
      background-color: rgba(#000, 0.29);
    }

    > span {
      margin-right: $golden-ratio-0;
      color: $orange;
    }
  }
}

.utk-panel-focus-research-tools .utk-research-tools {
  .utk-collapse-research-tools {
    opacity: 1;
  }

  &--option {
    display: none;
  }
}
