.utk-research-tools {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: $type-4;
    font-weight: 400;
    margin-bottom: $type-3;
    transition: $transition-all;
    text-shadow: $box-shadow;
  }

  &--option {
    margin-top: $golden-ratio-3;
    display: flex;
    align-items: center;
    font-size: $type-2;
    padding: 0 $golden-ratio-2;

    .ui.slider.checkbox {
      margin: 0 $golden-ratio-1;

      label {
        &::before {
          background-color: $rock !important;
        }

        &::after {
          background-color: $gray-1;
        }
      }
    }
  }

  .utk-collapse-research-tools {
    opacity: 0;
    display: inline-flex;
    font-size: $type-2;
    color: $white;
    margin-top: $golden-ratio-4;
    align-items: center;
    transition: $transition-all-fast;

    > i {
      font-size: 1.618em;
      margin-right: $golden-ratio-0;
      color: $torch;
    }
  }
}

.utk-panel-focus-research-tools .utk-research-tools {
  .utk-collapse-research-tools {
    opacity: 1;
  }

  &--option {
    display: none;
  }
}
