.utk-search {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond(xs) {
    flex-direction: column-reverse;
  }

  form {
    position: relative;
    box-shadow: $box-shadow;

    &::before {
      width: 100%;
      height: 6px;
      display: block;
      position: absolute;
      left: 0;
      top: -6px;
      content: ' ';
      background-color: rgba($white, 0.18);
    }

    .utk-search--icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 47px;
      height: 47px;
      background-color: transparent;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      > span {
        color: $rock;
        font-size: $type-2;
      }
    }
  }

  &--links {
    position: absolute;
    right: 0;
    font-size: $type-0;
    font-weight: 700;
    display: flex;
    text-align: right;
    padding-right: $golden-ratio-5;
    letter-spacing: 0.029em;
    margin-top: 3px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased !important;

    &.utk-research-tools--links {
      padding-right: 0;
    }

    @include respond(md) {
      padding-right: $golden-ratio-4;
    }

    @include respond(xs, sm) {
      padding-right: $golden-ratio-0;
    }

    @include respond(xs) {
      position: static;
      justify-content: flex-end;
      margin-top: $golden-ratio-1;
      padding-right: $golden-ratio-0;
    }

    a,
    a:visited {
      color: $white;
      margin-left: $golden-ratio-1;
      text-decoration: none;
      display: flex;

      span {
        color: $orange;
        font-size: 0.85em;
        margin-left: 2px;
      }

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  .utk-search-method-hidden {
    display: none !important;
  }

  h3 {
    font-size: $type-4;
    font-weight: 400;
    margin-bottom: $type-3;
    transition: $transition-all;
    text-shadow: $box-shadow;
    margin-top: 0;
    color: $summitt !important;
  }

  .utk-search-tabs {
    padding-right: $golden-ratio-5;
    transition: $transition-all-fast;
    opacity: 1;

    @include respond(md) {
      padding-right: $golden-ratio-4;
    }

    @include respond(sm) {
      padding-right: 0;
      padding-bottom: $golden-ratio-4;
    }

    @include respond(xs) {
      padding-right: 0;
    }

    > .ui.menu {
      margin-bottom: $golden-ratio-2;

      &::before {
        content: 'Search';
        display: block;
        margin-right: $golden-ratio-3;
        color: $white;
        opacity: 0.8;
        font-size: $type-3;
        -webkit-font-smoothing: antialiased;
        margin-bottom: -3px;
      }

      @include respond(xs) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      a,
      a:visited {
        font-size: $type-2;
        white-space: inherit;
        text-shadow: $box-shadow;
        margin-top: 6px;
        -webkit-font-smoothing: antialiased !important;
        letter-spacing: -0.018em;
        cursor: pointer;
        color: $white;
        padding: 0 0;
        margin-right: $golden-ratio-2;

        @include respond(xs) {
          font-size: $type-1;
          margin-top: -2px;
        }

        &::after {
          width: 100%;
          height: 6px;
          display: block;
          position: absolute;
          left: 0;
          bottom: -18px;
          background-color: $orange;
        }

        &:hover,
        &:focus {
          color: $white !important;
        }

        &.active {
          color: $white !important;
          font-weight: 700;

          &::after {
            content: " ";
          }
        }
      }
    }

    .ui.action.input {
      width: 100%;
      border-radius: 0;

      @include respond(xs) {
        display: flex;
        flex-direction: column;
      }

      > input {
        font-size: $type-2;
        font-family: $sans !important;
        height: $golden-ratio-4;
        border: none;
        padding-left: $golden-ratio-4;
        text-overflow: ellipsis;
        border-radius: 0;

        @include respond(xs) {
          font-size: $type-1;
        }
      }

      .ui.selection.dropdown {
        height: $golden-ratio-4;
        font-size: $type-1;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        border: none;
        border-left: 2px solid $gray-0;
        border-right: 2px solid $gray-0;
        background-color: $white;
        color: $smokeyx;
        padding-right: 33px;
        position: relative;
        z-index: 1;

        @include respond(xs) {
          height: $golden-ratio-3;
          margin-top: $golden-ratio-1;
          width: 100%;
          background-color: transparent;
          border: 2px solid rgba($white, 0.11);

          > .text {
            color: $white !important;
          }
        }

        .menu {
          font-size: $type-1;
          border: none;
          box-shadow: $box-shadow-float;

          > .item {
            font-size: $type-1;
            cursor: pointer;
            padding: $golden-ratio-1 !important;
          }
        }

        &::before {
          position: absolute;
          right: 11px;
          top: 17px;
          font-size: $type-0;
          color: $gray-3;

          @include respond(xs) {
            top: 10px;
          }
        }

        &.active::before {
          color: $smokey !important;
        }

        > .text {
          align-self: center;
          color: $smokey;
        }
      }

      button.ui.button {
        font-size: $type-1;
        padding: 0 $golden-ratio-2;
        font-weight: 700;
        border: none;
        cursor: pointer;
        height: $golden-ratio-4;
        margin-left: 0;
        background-color: $gray-0;
        color: $smokey;

        @include respond(xs) {
          display: none;
        }
      }
    }
  }
}

.utk-panel-focus-research-tools .utk-search-tabs {
  opacity: 0 !important;
}

#utk-panel-mini {
  @include respond(xs) {
    margin-top: 0 !important;
  }

  .utk-search {
    &--links {
      padding-right: 0;

      a,
      a:visited {
        color: $white;

        span {
          color: $white;
        }

        &:hover,
        &:focus {
          color: $white;

          span {
            color: $white;
          }
        }
      }
    }

    .utk-search-tabs {
      @include respond(xs) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .ui.action.input {
        box-shadow: none;

        .ui.selection.dropdown {
          @include respond(xs) {
            > .text {
              color: $smokey !important;
            }
          }
        }
      }
    }

    form {
      margin-bottom: 0;

      @include respond(xs) {
        box-shadow: none;
        display: flex;
        flex-direction: column;
      }
    }

    .ui.input > input {
      border: 1px solid $gray-1;
      box-shadow: none;
      background-color: $white;
    }
  }

  .utk-search .utk-search-tabs .ui.action.input .ui.selection.dropdown {
    background-color: $gray-0;
    border: 1px solid $gray-1;
    border-left: 0;
  }

  .utk-search .utk-search-tabs .ui.action.input button.ui.button {
    background-color: $gray-0;
    border: 1px solid $gray-1;
    border-left: 0;
    color: $smokeyx;
  }
}
