.utk-subject-guide {
  white-space: nowrap;
  height: 0;
  transition: $transition-all;
  padding: 0;
  width: 100%;
  padding-right: 15px;

  @include respond(xs) {
    background-color: rgba($smokeyx, 0.47);
    padding: $golden-ratio-2 !important;
    margin-left: -18px;
    width: calc(100% + 36px);
  }

  &--header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: $golden-ratio-1;

    > h4 {
      color: $white !important;
      font-size: $type-4;
      white-space: inherit;
      font-weight: 400;
      text-shadow: $box-shadow;
      text-transform: none !important;
      margin: 0;

      @include respond(xs) {
        margin-bottom: 0;
        font-size: $type-3;
        font-weight: 400;
        white-space: normal;
      }
    }

    .utk-research-guide--browse {
      font-size: $type-2;
      font-weight: 400;
      color: $eureka;
      cursor: pointer !important;

      > .text {
        cursor: pointer !important;

        &:hover,
        &:focus {
          text-decoration: underline !important;
        }
      }

      &.active {
        input {
          padding: 0 $golden-ratio-3 !important;
          color: $white !important;
          font-weight: 700;
          min-width: 200px;
          left: auto !important;
          right: 0 !important;
          text-align: right;
        }
      }

      .menu {
        margin: 0 !important;

        .text {
          font-size: $type-1 !important;
        }
      }

      .icon {
        margin-left: $golden-ratio-0;
      }
    }

    > p.description {
      color: $white;
      font-size: $type-1;

      a,
      a:visited  {
        color: $eureka;
      }

      a:hover,
      a:focus  {
        color: $eureka;
        text-decoration: underline;
      }
    }

  }

  &--assets {
    margin-top: $golden-ratio-2;

    @include respond(xs) {
      margin-top: 0;
    }

    .utk-subject-guide--asset {

      &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $golden-ratio-1;

        @include respond(xs) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        h5 {
          font-size: $type-1;
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          margin: 0;

          @include respond(xs) {
            font-size: $type-0;
            align-items: flex-start;
          }
        }

        > a,
        > a:visited {
          font-weight: 400;
          display: flex;
          font-size: $type-1;
          align-content: center;
          position: relative;
          color: $eureka;
          margin-top: -4px;

          @include respond(xs) {
            font-size: $type-0;
          }
        }

        > a:hover,
        > a:focus {
          color: $eureka;
          text-decoration: underline;
        }
      }

      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: $golden-ratio-2;
      display: flex;
      flex-direction: column;


      li {
        &.utk-delay-render {
          opacity: 0;
          margin-top: -18px;
        }

        margin-top: 0;
        padding: 0;
        list-style: none;
        opacity: 1;
        transition: $transition-all;
      }
    }

    a,
    a:visited  {
      color: $white;
    }

    a:hover,
    a:focus  {
      color: $orange;
    }
  }

  &--databases,
  &--guides {
    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: $golden-ratio-1;
        padding: $golden-ratio-1 $golden-ratio-2;
        border-radius: $golden-ratio-1;
        border: 2px solid rgba($white, 0.11);

        @include respond(xs) {
          border-left: none;
          border-right: none;
          border-bottom: none;
          border-radius: 0;
          margin-left: -18px;
          width: calc(100% + 36px);
        }

        &:last-child {
          margin-bottom: 0;
        }

        > a,
        > a:visited {
          color: $eureka !important;
          display: flex;
          flex-direction: column;
          transition: background-color 110ms ease-in-out;

          * {
            color: inherit !important;
          }

          &:hover,
          &:focus {
            color: $eureka;
            border: none;
            text-decoration: underline !important;

            > h5 {
              color: $eureka;
            }
          }

          > h5 {
            display: flex;
            font-size: $type-2;
            font-weight: 400;
            margin-bottom: $golden-ratio-0;
            text-transform: none;
            color: $white;
            transition: $transition-all-fast;
            margin-top: 0 !important;

            @include respond(xs) {
              display: block;
              line-height: 1.47em;
              white-space: normal;
            }
          }
        }

        > div {
          line-height: 1.47em;
          white-space: normal;
          font-size: $type-1;
          color: $gray-1;
          transition: $transition-all-fast;

          a,
          a:visited {
            color: $white !important;
            text-decoration: underline !important;
          }
        }
      }
    }
  }

  &--guides {
    ul {
      @include respond(xs) {
        padding: 0 $golden-ratio-2;
      }

      li {
        border: none;
        padding: 0;
        margin-bottom: $golden-ratio-0;

        h5 {
          font-size: $type-2 !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }

  &--journals {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > li {
        width: 25%;
        white-space: normal;
      }
    }
  }
}

.utk-panel-focus-research-tools .utk-subject-guide {
  height: auto;
  padding: 0 0 $golden-ratio-4;
}
