.utk-subject-guide {
  white-space: nowrap;
  height: 0;
  transition: $transition-all;

  > h4 {
    font-size: $type-4;
    white-space: inherit;
    font-weight: 700;
    margin-bottom: $golden-ratio-1;
  }

  > p.description {
    color: $rock;
    font-size: $type-1;

    a,
    a:visited  {
      color: $white;
      text-decoration: underline;
    }

    a:hover,
    a:focus  {
      color: $orange;
    }
  }

  &--resources {
    margin-top: $golden-ratio-3;

    > div {
      margin-top: $golden-ratio-3;

      &:first-child {
        margin-top: 0;
      }
    }

    h5 {
      font-size: $type-2;
      font-weight: 400;
      color: $orange;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: $golden-ratio-2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;


      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    a,
    a:visited  {
      color: $white;
    }

    a:hover,
    a:focus  {
      color: $orange;
    }
  }

  &--databases {
    ul {
      li {
        &:last-child {
          margin-bottom: 0;
        }

        > a,
        > a:visited {
          display: flex;
          flex-direction: column;
          margin-bottom: $golden-ratio-1;
          padding: $golden-ratio-1 $golden-ratio-2;
          border-radius: $golden-ratio-1;
          border: 2px solid $smokey;
          transition: $transition-all-fast;

          &:hover,
          &:focus {
            border-color: darken($smokeyx, 5);
            background-color: darken($smokeyx, 5);

            > h5 {
              color: $eureka;
            }

            > span {
              color: $white;
            }
          }

          > h5 {
            display: flex;
            font-size: $type-3;
            font-weight: 400;
            margin-bottom: $golden-ratio-0;
            text-transform: none;
            color: $white;
            transition: $transition-all-fast;
          }

          > span {
            line-height: 1.47em;
            display: flex;
            white-space: normal;
            font-size: $type-2;
            color: $rock;
            transition: $transition-all-fast;
          }
        }
      }
    }
  }

  &--journals {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

.utk-panel-focus-research-tools .utk-subject-guide {
  height: auto;
}
