#utk-panel {
  .utk-panel-wrap {
    transition: $transition-all;

    &.utk-panel-focus-onesearch {
      background-color: $smokey;
      background-image: url("../../media/sample.jpg");
      color: $white;
    }

    &.utk-panel-focus-research-tools {
      background-color: $smokeyx;
      color: $white;
    }
  }

  .utk-panel {
    font-size: $type-3;
    padding: $golden-ratio-5 0 $golden-ratio-4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: $transition-all;

    > div {
      display: flex;
      transition: $transition-all;
    }

    &-focus-onesearch {
      height: auto;

      .utk-panel--onesearch {
        width: $gr-long;
        opacity: 1;
      }

      .utk-panel--research-tools {
        width: $gr-short;
      }

      .utk-panel--subject-guide {
        width: 0;
        opacity: 0;
        overflow: hidden;
      }
    }

    &-focus-research-tools {
      .utk-panel--onesearch {
        width: 0;
        opacity: 0;
        overflow: hidden;
      }

      .utk-panel--research-tools {
        width: $gr-short;
      }

      .utk-panel--subject-guide {
        opacity: 1;
        width: $gr-long;
      }
    }
  }
}
