#utk-panel {
  background-color: $smokeyx;
  color: $white;

  .utk-panel {
    font-size: $type-3;
    padding: $golden-ratio-5 0 $golden-ratio-4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: $golden-ratio-8;

    > div {
      display: flex;
      align-items: flex-end;

      &:first-child {
        width: $gr-long;
      }

      &:last-child {
        width: $gr-short;
      }
    }
  }
}
