#utk-panel,
#utk-panel-mini {
  .utk-panel-wrap {
    transition: $transition-all;
    position: relative;
    z-index: 1020;

    > .utk-panel-underlay {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;

      .utk-panel-overlay--fade {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: $transition-all-fast;

        $start : rgba($smokey, 1);
        $start-percent : 0;
        $end : rgba($smokey, 0);
        $end-percent :  199px;

        background: -moz-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -webkit-gradient(linear, top, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
        background: -webkit-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -o-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -ms-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: linear-gradient(to bottom, $start $start-percent, $end $end-percent);
      }

      //> img {
      //  width: 100%;
      //  position: absolute;
      //  opacity: 0;
      //  margin-top: -150px;
      //  transition: $transition-all;
      //  transform: scale3d(1,1,1);
      //  z-index: 1;
      //}

      .utk-panel-underlay--fade-horz {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;

        $start : rgba($smokeyx, 0);
        $start-percent : 6%;
        $end : rgba($smokeyx, 0.76);
        $end-percent : 61.8%;

        background: -moz-linear-gradient(left, $start $start-percent, $end $end-percent);
        background: -webkit-gradient(linear, left, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
        background: -webkit-linear-gradient(left, $start $start-percent, $end $end-percent);
        background: -o-linear-gradient(left, $start $start-percent, $end $end-percent);
        background: -ms-linear-gradient(left, $start $start-percent, $end $end-percent);
        background: linear-gradient(to right, $start $start-percent, $end $end-percent);
      }

      .utk-panel-underlay--fade-vert {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;

        $start : rgba($smokeyx, 0);
        $start-percent : 0;
        $end : $smokeyx;
        $end-percent : 323px;

        background: -moz-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -webkit-gradient(linear, top, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
        background: -webkit-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -o-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -ms-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: linear-gradient(to bottom, $start $start-percent, $end $end-percent);
      }
    }

    .utk-panel {
      font-size: $type-3;
      padding: $golden-ratio-4 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      position: relative;

      @include respond(md) {
        padding-top: $golden-ratio-4;
      }

      @include respond(xs, sm) {
        flex-direction: column;
        padding-top: $golden-ratio-4;
        align-items: center;
      }

      @include respond(xs) {
        padding: $golden-ratio-3 0 $golden-ratio-1;
      }

      > div {
        display: flex;
        transition: $transition-opacity;
        flex-direction: column;
      }
    }

    &.utk-panel-focus-search {
      background-color: $smokey;
      color: $white;

      .utk-panel--search {
        width: $gr-long;
        opacity: 1;
        padding-right: 0;
        transition: $transition-all;

        @include respond(xs, sm) {
          height: auto;
          width: 100% !important;
        }
      }

      .utk-panel--research-tools {
        width: $gr-short;
        padding-left: 0;
        transition: $transition-all;

        @include respond(sm) {
          width: $gr-long !important;
        }

        @include respond(xs) {
          width: 100% !important;
        }
      }

      .utk-panel--subject-guide {
        width: 0;
        opacity: 0;
        padding-right: 0;
        padding-left: 0;
        transition: $transition-all;
      }
    }

    &.utk-panel-focus-research-tools {
      color: $white;
      background-color: $globe;



      > .utk-panel-underlay > .utk-panel-overlay--fade {
        $start : rgba($globe, 1);
        $start-percent : 0;
        $end : rgba($globe, 0);
        $end-percent : 199px;

        background: -moz-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -webkit-gradient(linear, top, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
        background: -webkit-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -o-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: -ms-linear-gradient(top, $start $start-percent, $end $end-percent);
        background: linear-gradient(to bottom, $start $start-percent, $end $end-percent);
      }

      //> .utk-panel-underlay > img {
      //  transform: scale3d(1.11,1.11,1.11);
      //}

      .utk-panel--search {
        width: 0;
        opacity: 0;
        padding-right: 0;
        padding-left: 0;
        transition: $transition-all;

        @include respond(xs, sm) {
          height: 0;
          width: auto;
        }
      }

      .utk-panel--research-tools {
        width: $gr-short;
        padding-right: 0;
        transition: $transition-all;

        @include respond(sm) {
          width: 100%;
          margin-bottom: $golden-ratio-3;
        }

        @include respond(xs) {
          width: 100%;
          margin-bottom: 0;
        }
      }

      .utk-panel--subject-guide {
        width: $gr-long;
        opacity: 1;
        padding-left: 0;
        transition: $transition-all;

        @include respond(xs, sm) {
          width: 100%;
        }
      }
    }

    > .container {
      position: relative;
      z-index: 1;
    }
  }
}

#utk-panel-mini {
  background-color: transparent;
  margin-bottom: $golden-ratio-4;

  .utk-panel-wrap.utk-panel-mini-wrap {
    background-color: transparent !important;

    > .container {
      padding: 0 !important;
      position: static;
      z-index: auto;
    }

    &.utk-panel-focus-research-tools .utk-search-tabs {
      opacity: 1 !important;
    }

    .utk-panel--subject-guide {
      opacity: 1 !important;
      width: auto;
      display: none;

      &.active-item {
        display: block;
      }

      .utk-subject-guide {
        height: auto;
      }
    }

    .utk-panel {
      padding: 0;
      flex-direction: column !important;

      > div {
        width: 100% !important;
        opacity: 1 !important;
        margin-right: 0 !important;
        margin-top: $golden-ratio-4;

        @include respond(xs) {
          margin-top: $golden-ratio-3 !important;
        }

        &:first-child {
          margin-top: 0;

          @include respond(xs) {
            margin-top: 0 !important;
          }
        }
      }

      .utk-panel--research-tools .utk-research-tools{
        flex-direction: column !important;
      }
    }

    .utk-search-tabs {
      padding-right: 0;
    }
  }

  .utk-search .utk-search-tabs > .ui.menu::before {
    color: $smokey !important;
    text-shadow: none;
  }

  .utk-search .utk-search-tabs > .ui.menu a.active,
  .utk-search .utk-search-tabs > .ui.menu a:visited.active {
    color: $smokey !important;
    text-shadow: none;
    font-weight: 700;
  }

  .utk-search .utk-search-tabs > .ui.menu a,
  .utk-search .utk-search-tabs > .ui.menu a:visited {
    color: $smokey !important;
    text-shadow: none;
  }
}
