.utk-home {
  padding-top: $golden-ratio-4;
  display: flex;

  &--main {
    width: $gr-long;
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 50%;
      margin-bottom: $golden-ratio-4;

      > h3 {
        font-size: $type-3;
        color: $smokey;
        font-weight: 400;
      }

      &:nth-child(odd) {
        padding-right: 23.5px;
      }

      &:nth-child(even) {
        padding-left: 23.5px;
      }
    }
  }

  &--aside {
    width: $gr-short;
  }

  &--hours {
    background-color: $gray-1;
    padding: $golden-ratio-3;
    position: relative;
    margin-top: -$golden-ratio-5;
    border-radius: $golden-ratio-0;

    h3 {
      font-size: $type-3;
      color: $smokey;
      font-weight: 400;
    }

    > div {
      h4 {
        font-size: $type-2;
        color: $smokey;
        font-weight: 700;
        margin: 0;
        margin-bottom: $golden-ratio-0;
      }

      margin-bottom: $golden-ratio-2;
    }
  }
}
